<h1>Board Of Advisors</h1>
<br>
<br>
<div class="row">
    <%= react_component('MemberBio', {firstName: 'Hugh', lastName: 'Nguyen', role: 'Advisor', imgUrl: asset_url('current_members/hugh.jpg'), yearsActive: '2014-present', bFourInARow: true}) %>
    <%= react_component('MemberBio', {firstName: 'Ryan', lastName: 'O\'Connor', role: 'Advisor', imgUrl: asset_url('current_members/ryan.jpg'), hasWebsite: true, websiteUrl: 'http://www.oconnorryan.me/', yearsActive: '2014-present', bFourInARow: true}) %>
    <%= react_component('MemberBio', {firstName: 'Menelik', lastName: 'Tucker', role: 'Advisor', imgUrl: asset_url('current_members/menelik.jpg'), hasWebsite: true, websiteUrl: 'http://meneliktucker.me/', yearsActive: '2014-present', bFourInARow: true}) %>
    <%= react_component('MemberBio', {firstName: 'Kat', lastName: 'Drobnjakovic', role: 'Advisor', imgUrl: asset_url('current_members/kat.jpg'), hasWebsite: true, websiteUrl: 'http://katarina.rocks/', yearsActive: '2014-2015', bFourInARow: true}) %>
</div>
<div class="row">
    <%= react_component('MemberBio', {firstName: 'Nick', lastName: 'Dubus', role: 'Advisor', imgUrl: asset_url('current_members/nick_dubus.png'), yearsActive: '2015-present', bFourInARow: true}) %>
    <%= react_component('MemberBio', {firstName: 'Zaid', lastName: 'Qureshi', role: 'Advisor', imgUrl: asset_url('current_members/zaid.jpg'), yearsActive: '2014-2015', bFourInARow: true}) %>
    <%= react_component('MemberBio', {firstName: 'Arash', lastName: 'Marzi', role: 'Advisor', imgUrl: asset_url('current_members/arash.jpg'), yearsActive: '2014', bFourInARow: true}) %>
    <%= react_component('MemberBio', {firstName: 'Thomas', lastName: 'Duong', role: 'Advisor', imgUrl: asset_url('current_members/tom.jpg'), yearsActive: '2014-2015', bFourInARow: true}) %>
</div>
