<h1>Board Of Advisors</h1>
<br>
<br>
<div class="row">
    <div class="small-12 medium-3 columns">
        <%= image_tag 'current_members/hugh.jpg', size: '200x200', alt: 'Hugh Nguyen' %>
            <br>
            <br>
            <span>Hugh<br>Nguyen</span>
            <br>
            <hr> Advisor
    </div>
    <div class="small-12 medium-3 columns">
        <%= image_tag 'current_members/ryan.jpg', size: '200x200', alt: 'Ryan O\'Connor' %>
            <br>
            <br>
            <a href="http://oconnorryan.me/" title="Ryan O'Connor's personal website; external link"><span>Ryan<br>O'Connor</span></a>
            <br>
            <hr>Advisor
    </div>
    <div class="small-12 medium-3 columns">
        <%= image_tag 'current_members/menelik.jpg', size: '200x200', alt: 'Menelik  Tucker' %>
            <br>
            <br>
            <a href="http://meneliktucker.me/" title="Menelik Tucker's personal website; external link"><span>Menelik<br>Tucker</span></a>
            <br>
            <hr>Advisor
    </div>
    <div class="small-12 medium-3 columns">
        <%= image_tag 'current_members/kat.jpg', size: '200x200', alt: 'Kat Drobnjakovic' %>
            <br>
            <br>
            <a href="http://katarina.rocks/" title="Kat Drobnjakovic's personal website; external link"><span>Kat<br>Drobnjakovic</span></a>
            <br>
            <hr>Advisor
    </div>
</div>
<div class="row">
    <div class="small-12 medium-3 columns">
        <%= image_tag 'current_members/nick_dubus.png', size: '200x200', alt: 'Nick Dubus' %>
            <br>
            <br>
            <span>Nick<br>Dubus</span>
            <br>
            <hr>Advisor
    </div>
    <div class="small-12 medium-3 columns">
        <%= image_tag 'current_members/zaid.jpg', size: '200x200', alt: 'Zaid Qureshi' %>
            <br>
            <br>
            <span>Zaid<br>Qureshi</span>
            <br>
            <hr>Advisor
    </div>
    <div class="small-12 medium-3 columns">
        <%= image_tag 'current_members/arash.jpg', size: '200x200', alt: 'Arash Marzi' %>
            <br>
            <br>
            <span>Arash<br>Marzi</span>
            <br>
            <hr>Founder
    </div>
    <div class="small-12 medium-3 columns">
        <%= image_tag 'current_members/tom.jpg', size: '200x200', alt: 'Thomas Duong' %>
            <br>
            <br>
            <span>Tom<br>Duong</span>
            <br>
            <hr> Advisor
    </div>
</div>
