<h1>Awesome Team of Execs<br><small>"The A-team" for short</small></h1>
<br>
<br>
<div class="row">
    <% @current_members[0..2].each do |member| %>
        <%= react_component('MemberBio', member) %>
    <% end %>
</div>
<div class="row">
    <% @current_members[3..5].each do |member| %>
        <%= react_component('MemberBio', member) %>
    <% end %>
</div>
<br>
<br>
<h1>Directors</h1>
<br>
<br>
<div class="row">
    <%= react_component('MemberBio', {firstName: 'Join', lastName: 'SESA', role: 'Could be you', imgUrl: asset_url('default-male-photo.png'), hasWebsite: true, websiteUrl: join_path }) %>
    <%= react_component('MemberBio', @current_members[6]) %>
    <%= react_component('MemberBio', {firstName: 'Join', lastName: 'SESA', role: 'Could be you', imgUrl: asset_url('default-female-photo.jpg'), hasWebsite: true, websiteUrl: join_path }) %>
</div>
<div class="row">
    <% @current_members[7..9].each do |member| %>
        <%= react_component('MemberBio', member) %>
    <% end %>
</div>
<div class="row">
    <% @current_members[10..12].each do |member| %>
        <%= react_component('MemberBio', member) %>
    <% end %>
</div>
