<% provide(:title, "SESA | Contact")%>

<div id="contact-container-1">
  <h1>Get Connected</h1>

<div class="row" style="max-width: 40rem; padding-bottom: 50px;">
<div class="small-12 medium-4 columns">
		<%= mail_to "uottawa.sesa@gmail.com",encode: 'hex' do%>
			<span class="center-text">Email SESA</span>
			<%end%>
		</div>
		<div class="small-12 medium-4 columns">
			<%= mail_to "ssome@eecs.uottawa.ca", encode: 'hex' do%>
			<span class="center-text">Associate Director<br> Stéphane Somé</span>
			<%end%>
		</div>
		<div class="small-12 medium-4 columns">
			<%= mail_to 'bacinfo@genie.uottawa.ca', target: '_blank' do%>
			<span class="center-text">Academic <br>Advisor</span>
			<%end%>
		</div>
		<div class="small-12 medium-4 columns">
			<%= link_to'https://www.facebook.com/groups/uOttawaSESA', target: '_blank' do%>
			<span class="center-text">Facebook</span>
			<%end%>
		</div>
		<div class="small-12 medium-4 columns">
			<%= link_to 'https://goo.gl/FHrd7a', target: '_blank' do%>
			<span class="center-text">Instagram</span>
			<%end%>
		</div>
		<div class="small-12 medium-4 columns">
		<%= link_to 'https://goo.gl/hqXZ68', target: '_blank' do%>
		<span class="center-text">Twitter</span>
		<%end%>
		</div>

	</div>
</div>
