<% provide(:title, 'Contact') %>

<div class="quotes">
	<p>Be a voice not an echo</p>
</div>
<div class="border"></div>
<div class="form">
<% if @success %>
	Thank you for contacting the SESA!
<% else %>
<p>

	<%= form_tag do %>

	<div class="field">
		<%= label_tag :first_name, "First Name" %><br>
		<%= text_field_tag :first_name %><br>
	</div>

	<div class="field">
		<%= label_tag :last_name, "Last Name" %><br>
		<%= text_field_tag :last_name %><br>
	</div>

	<div class="field">
		<%= label_tag :email, "E-mail" %><br>
		<%= text_field_tag :email %><br>
	</div>

	<div class="field">
		<%= label_tag :message %><br>
		<%= text_area_tag :message %><br>
	</div>
	<br>

	<div class="field">
		<%= submit_tag "Submit" %>
	</div>

	<% end %>
</p>
<% end %>
</div>

<div class="border"></div>