<% provide(:title, "SESA | Events")%>

<span class="events"></span>

<div id="events-container-1" data-stellar-background-ratio="0.5">
  <h1>Events</h1>
</div>

<div id="events-container-2" >
  <div class="row" style="max-width: 85rem;">
    <div class="small-12 medium-12 large-7 large-centered medium-centered columns">
      <%= link_to(image_tag("startup-weekend-banner.png", class: 'effect-apollo', alt: 'Startup Weekend UOttawa Banner'), "https://www.facebook.com/events/774386012655259/?ref_dashboard_filter=upcoming") %>
    </div>

    <div class="small-12 medium-12 large-7 large-centered medium-centered columns">
      <%= link_to(image_tag("RoR_Winter2015.png", class: 'effect-apollo', alt: 'Ruby on Rails Winter 2015 Tutorial Banner'), "https://www.facebook.com/events/778999418859343/?ref=2&ref_dashboard_filter=past") %>
    </div>

    <!-- OLD EVENTS -->
    <div class="small-12 medium-12 large-7 large-centered medium-centered columns">
      <h3>PAST EVENTS</h3>
    </div>
    
    <div class="small-12 medium-12 large-7 large-centered medium-centered columns">
      <%= link_to(image_tag("shopify_coop_talk_banner.png", class: 'effect-apollo', alt: 'Shopify Coop Talk Banner'), "https://www.facebook.com/events/1525471497740725/?ref_dashboard_filter=past") %>
    </div>

    <div class="small-12 medium-12 large-7 large-centered medium-centered columns">
      <%= link_to(image_tag("Mock_Interviews_Winter2015.jpg", class: 'effect-apollo', alt: 'Programming Mockup Interviews Winter 2015'), "https://www.facebook.com/events/324991577708081/?ref=2&ref_dashboard_filter=past") %>
    </div>
    <div class="small-12 medium-12 large-7 large-centered medium-centered columns">
      <%= link_to(image_tag("legacy.png", class: 'effect-apollo', alt: 'Legacy Conference Fall 2014'), "https://www.facebook.com/events/712288775553750/?ref_dashboard_filter=past") %>
    </div>
    <div class="small-12 medium-12 large-7 large-centered medium-centered columns">
      <%= link_to(image_tag('elads-event.jpg', class: 'effect-apollo', alt: 'Business Card Design Workshop Banner'), "https://www.facebook.com/events/307282269474878/?ref_dashboard_filter=past") %>
    </div>
    <div class="small-12 medium-12 large-7 large-centered medium-centered columns">
      <%= link_to(image_tag("sitebannerevent.jpg", class: 'effect-apollo', alt: 'Tech Talk'), "https://www.facebook.com/events/732469863508791/?ref_dashboard_filter=past") %>
    </div>
    <div class="small-12 medium-12 large-7 large-centered medium-centered columns">
      <%= link_to(image_tag('Photoshop_Workshop_Fall2014.jpg', class: 'effect-apollo', alt: 'Photoshop Workshop Banner'), "https://www.facebook.com/events/433031483502586/?ref_dashboard_filter=past") %>
    </div>
    <div class="small-12 medium-12 large-7 large-centered medium-centered columns">
      <%= link_to(image_tag('ruby_tutorial_banner.jpg', class: 'effect-apollo', alt: 'Ruby on Rails Tutorial Banner'), "https://www.facebook.com/events/521381771297707/?ref_dashboard_filter=past") %>
    </div>
    <div class="small-12 medium-12 large-7 large-centered medium-centered columns">
      <%= link_to(image_tag('meetNgreet_Fall2014.jpg', class: 'effect-apollo', alt: 'Meet and Greet Fall 2014 Banner'), "https://www.facebook.com/events/1475488029380249/?ref_dashboard_filter=past") %>
    </div>
    <div class="small-12 medium-12 large-7 large-centered medium-centered columns">
      <%= link_to(image_tag('barbecuebanner1.jpg', class: 'effect-apollo', alt: 'Barbecue Banner'), "https://www.facebook.com/events/255970374595125/?ref=2&ref_dashboard_filter=past") %>
    </div>
  </div>
</div>
