<% provide(:title, "SESA | First Year Tips")%>

<span class="fya"></span>

<div id="fya-container-1">
	<h1>first year tips</h1>
</div>

<br><br><br>

<div id="fya-container-2">
	<div class="row" style="max-width: 80rem;">
		<div class="medium-12 large-4 columns">
			<span>Budgeting</span><br><br>
				University fees can be quite expensive, especially when pursuing a degree in engineering or other software related programs. On top of tuition, textbooks will leave a heavy dent in your wallet as well. As members of SESA we've taken a look back at our previous years and have compiled a list of tips and methods that you can use to help reduce these fees and save some extra cash on hand (to maybe spend on that macbook pro you've had your eyes on :p ). Take it or leave it, we sure as hell wish we'd been given these pointers early on!
				<%= link_to 'Read More...', '#budgeting', class: 'budgeting-button' %>
		</div>
		<div class="medium-12 large-4 columns">
			<span>Time management</span><br><br>
				Developing time management skills is a journey that can be quite overwhelming especially in Engineering. You'll notice your Arts and Business friends having the time of their life while you spend endless hours and late nights studying away or pulling your hair out over that one compilation error that you can't seem to get rid of. Don't be worried though, members of SESA have been through the ups and downs and will definitely help guide you to the right direction in developing effective study habits whilst still enjoying your University life. Work hard, play hard!
				<%= link_to 'Read More...', '#time-management', class: 'time-management-button'  %>
		</div>
		<div class="medium-12 large-4 columns">
			<span>Work Experience</span><br><br>
				The Software Engineering program includes a mandatory co-op experience to develop practical and solution-driven thinking. That means that upon graduating, you will have a good amount of real life experience under your belt that will further increase your chances of landing a job. Some students even get offered full-time positions from previous employers. We at SESA understand the importance of CO-OP and will therefore do our best to prepare you for the interviewing process:
				<%= link_to 'Read More...', '#work-experience', class: 'work-experience-button' %>
		</div>
		<span id="budgeting" class="general-advice">
			<svg role="navigation" class="hamburger2 burger" width="32" height="32" viewBox="0 0 46 30" >
		        <path fill="#777" d="M1,0h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1C0.4,6,0,5.6,0,5V1C0,0.4,0.4,0,1,0z" ></path>
		        <path fill="#777" d="M1,24h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1c-0.6,0-1-0.4-1-1v-4C0,24.4,0.4,24,1,24z" ></path>
		     </svg>
			<p>
				<strong>Opting out of medical or dental insurance plans:</strong><br><br>
				If you are already covered under an equivalent insurance plan, you can opt out of the health and/or dental plan. However, you must apply to opt out before September 30 of every school year. Thats over $100 you can easily save! To opt out, access your statement of account on uOzone. On the left-side menu at the very bottom click Insurance plans opt-out. Fill out the form and voila!
			</p>
			<p>
				<strong>Purchasing pre-owned textbooks:</strong><br><br>
				Let's face it, it may feel nice to own a brand-new fresh mint condition textbook but is the pricing really worth it? Trust us, after 2nd year hits you'll be begging your friends for their old texts or even scavenging for previous editions that are even more cheap. There are many resources in Ottawa to find great prices on pre-owned textbooks: <%= link_to 'ottawa.kijiji.ca', 'http://ottawa.kijiji.ca', target: '_blank' %>,
				<%= link_to 'usedottawa.com', 'http://usedottawa.com', target: '_blank' %>, <%= link_to 'ottawa.craigslist.ca', 'http://ottawa.craigslist.ca', target: '_blank' %>.<br><br>
				If you absolutely refuse to be an owner of used goods, try out the Agora Bookstore which is literally a 5 min walk from campus. They offer slightly cheaper prices than the school bookstore. Don't forget to get there early, the lineups can be quite lengthy.
				Most importantly, we would like to mention that google is your friend. And that the only thing better than a cheap textbook...is a free one. Use your resources, you're in software godamit.If you have some extra cash to spend (or some extra time to spend digging around), we highly recommend purchasing solutions manuals whenever possible. We can guarantee you will most definitely run into a few classes that have assignments with questions ripped directly from the textbook. If you're looking for an easy free 20-40% boost, the investment can be worth it. Just make sure to fully understand how to solve all questions...or you'll be left clueless when exams come.<br>
			</p>
			<p>
				<strong>Apply for OSAP if needed:</strong><br><br>
				Need help paying for school? The Ontario Student Assistant Program will be a lifesaver. Visit:
				<%= link_to 'osap.gov.on.ca/OSAPPortal', 'https://osap.gov.on.ca/OSAPPortal', target: '_blank' %> to learn more about who is eligible, the mix of grants and loans available and what information you need before you apply. If you apply for OSAP – you’re automatically considered for 30% Off Ontario Tuition, too. No need for a separate application. Get saving!!
			</p>
		</span>
		<span id="time-management" class="general-advice">
			<svg role="navigation" class="hamburger2 burger" width="32" height="32" viewBox="0 0 46 30" >
		        <path fill="#777" d="M1,0h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1C0.4,6,0,5.6,0,5V1C0,0.4,0.4,0,1,0z" ></path>
		        <path fill="#777" d="M1,24h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1c-0.6,0-1-0.4-1-1v-4C0,24.4,0.4,24,1,24z" ></path>
		     </svg>
		    <p>
				<strong>Allocating study time and breaks</strong><br><br>
				Develop and plan for blocks of study time. Determine how long it takes before you become restless and have a short break between. If you have a hard time studying at home, the 3rd or 6th floor of Morisset library is an excellent noise free environment.
			</p>
			<p>
				<strong>Getting enough sleep</strong><br><br>
				Although you may have been able to pull off all-nighters back in highschool, you'll notice sleep deprivation taking a heavy toll on your University life. You'll come to class grumpy and groggy having no motivation to learn. While everyone's body may be different, we recommend you get atleast 7 hours of sleep in order to be functional throughout the day.This is especially important the night before exams.
			</p>
			<p>
				<strong>Prioritizing your classes</strong><br><br>
				We highly recommend that you attend all classes when possible. With that being said, we will admit that certain classes or tutorials may not be worth the effort to go to if you feel that you are not really getting anything out of it. Engineering is a practical science...therefore sometimes it may be better to allocate some of that class time towards actually completing assignments or doing practice problems. Figure out what works but most importantly, don't skip class if you just plan on slacking off.
			</p>
		</span>
		<span id="work-experience" class="general-advice">
			<svg role="navigation" class="hamburger2 burger" width="32" height="32" viewBox="0 0 46 30" >
		        <path fill="#777" d="M1,0h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1C0.4,6,0,5.6,0,5V1C0,0.4,0.4,0,1,0z" ></path>
		        <path fill="#777" d="M1,24h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1c-0.6,0-1-0.4-1-1v-4C0,24.4,0.4,24,1,24z" ></path>
		     </svg>
		     <p>
		     <strong>Work on side-projects</strong><br><br>
			This is probably one of the biggest issues that SEG students have when entering coop. Employers are looking for students that have a true passion towards programming and having side projects definitely makes you stand out from the bunch. Designing a website, creating an app, even doing different programming tutorials will give you that extra edge to land a placement. Just expect interviewers to ask you about what you do outside of school.
			</p>
			<p>
			<strong>Learn different language</strong><br><br>
			From our experience, the current courses offered at the University do not really dwell too deeply into front-end web development but doesn't mean that you can't learn it yourself. After having a fundamental understanding of Java and C++, other languages can be picked up rather quickly. Learning resources that we recommend would include www.codecademy.com and www.udemy.com. Even learning something as simple as HTML/CSS will make you stand out. Programming is an ever-evolving industry and new languages are always being introduced so always make sure to stay up to date with today's technologies.
			</p>
			<p>
			<strong>Brush up on your technical skills (VERY IMPORTANT)</strong><br><br>
			This is probably the biggest mistake you can make going into interviews. This is a technical job therefore expect technical questions. Personality and charm will only get you so far but if you don't know how to code, then you won't get the job. Your COOP advisor will tell you not to worry about technical questions, but from our experience we advise you to not listen. They do not specialize in the tech-industry therefore they have no idea what will be asked. A quick googling of java interview questions or whatever other language required for the job will bring up a nice a list of things to expect.
			</p>
			<p>
			<strong>Finding a Job (COOP or Graduating)</strong><br><br>
			Network with SESA and leverage your personal network(friends, family, colleagues, clubs, meetups, organizations, professors). Find jobs online and through COOP Navigator Index(companies not registered with the COOP Office). Visit the Career Center run by COOP but open to all students. Work Study Navigator (uozone... jobs on campus) and VOLUNTEER!! For more tips take a look at this
			<%= link_to 'presentation', 'http://www.site.uottawa.ca/~lpeyton/SEG_JobTips.pptx', target: '_blank' %>.
			</p>
		</span>
		<hr>
	</div>
</div>

<div id="fya-container-3">
	<div class="row" style="max-width: 40rem; padding-bottom: 50px;">
		<span class='title'>Course Advice</span>
		<div class="small-12 medium-4 columns">
			<a id="linear-algebra-button" class="course-advice-button" href="/firstyearadvice#linear-algebra"><span class="center-text">Linear Algebra</span></a>
		</div>
		<div class="small-12 medium-4 columns">
			<a id="computing-1-button" class="course-advice-button" href="/firstyearadvice#computing-1"><span class="center-text">Intro to Computing I</span></a>
		</div>
		<div class="small-12 medium-4 columns">
			<a id="computing-2-button" class="course-advice-button" href="/firstyearadvice#computing-2"><span class="center-text">Intro to Computing II</span></a>
		</div>
		<div class="small-12 medium-4 columns">
			<a id="engineering-mechanics-button" class="course-advice-button" href="/firstyearadvice#engineering-mechanics">
			<span class="center-text">Engineering Mechanics</span></a>
		</div>
		<div class="small-12 medium-4 columns">
			<a id="physics-button" class="course-advice-button" href="/firstyearadvice#physics"><span class="center-text">Physics</span></a>
		</div>
		<div class="small-12 medium-4 columns">
			<a id="calculus-1-button" class="course-advice-button" href="/firstyearadvice#calculus-1"><span class="center-text">Calculus I /<br> Calculus II</span></a>
		</div>
		<div class="small-12 medium-4 columns">
			<a id="digital-systems-button" class="course-advice-button" href="/firstyearadvice#digital-systems"><span class="center-text">Digital Systems</span></a>
		</div>
		<div class="small-12 medium-4 columns">
			<a id="discrete-button" class="course-advice-button" href="/firstyearadvice#discrete"><span class="center-text">Discrete Mathematics</span></a>
		</div>
		<div class="small-12 medium-4 columns">
			<a id="chemistry-button" class="course-advice-button" href="/firstyearadvice#chemistry"><span class="center-text">Chemistry</span></a>
		</div>
	</div>

	<div class="row" style="max-width: 40rem; padding-bottom: 50px;">
	<span>
		<b>Plagarism and Academic Fraud:</b> <%= link_to 'Plagiarism','plagiarism.pdf', target: '_blank'%> or any other type of academic fraud will not be tolerated at uOttawa. The penalties are explained <%= link_to 'here', 'http://www.site.uotttawa.ca/about/academic-regulation-14-other-important-information', target: '_blank'%>. Visit the  <%= link_to 'academic writing centre', 'http://sass.uottawa.ca/en/writing', target: '_blank'%> for free tutorials and writing support. <br>
		</span>

		<span>
		<br>
		<b>Not in first year?</b> <%= link_to 'Click here', advice_courses_path %> for more general info and advice for SEG courses at the University of Ottawa.
		</span>
	</div>

	<div class="row" style="max-width: 80rem; position: relative;">
		<span id="linear-algebra" class="course-advice">
			<svg role="navigation" class="hamburger3 burger" width="32" height="32" viewBox="0 0 46 30" >
		        <path fill="#777" d="M1,0h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1C0.4,6,0,5.6,0,5V1C0,0.4,0.4,0,1,0z" ></path>
		        <path fill="#777" d="M1,24h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1c-0.6,0-1-0.4-1-1v-4C0,24.4,0.4,24,1,24z" ></path>
		     </svg>
		     <strong>Introduction to Linear Algebra</strong><br><br>
		     <p>
			 Intro to Linear Algebra (MAT 1341) starts off as one of the most difficult courses in 1st year. In MAT 1341 you will be learning about complex numbers, vector and scalar product, projections, vector spaces, linear independence, function spaces, solutions to systems of linear equations, matrix algebra, determinants, eigenvalues, eigenvectors, projections and linear transformations. The course can move very quickly since it has a lot of material to cover.<br><br>

			 For the mathematically inclined, the first half of the course will offer a good challenge. For those who struggle with math, you may find it quite difficult. However the second part of the course is much easier. If you are struggling with the first midterm's material, we encourage you to keep working at it, as it will get easier as the semester progresses. The assignments can be very challenging but offer good practice for the midterms/final. We suggest to head down to the math help centre located in the basement of Marion and work on the assignments there. You will be able to ask questions to the tutors as well as to other fellow classmates.
			 </p>
		</span>
		<span id="computing-1" class="course-advice">
			<svg role="navigation" class="hamburger3 burger" width="32" height="32" viewBox="0 0 46 30" >
		        <path fill="#777" d="M1,0h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1C0.4,6,0,5.6,0,5V1C0,0.4,0.4,0,1,0z" ></path>
		        <path fill="#777" d="M1,24h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1c-0.6,0-1-0.4-1-1v-4C0,24.4,0.4,24,1,24z" ></path>
		     </svg>
			 <strong>Introduction to Computing I</strong><br><br>
			 <p>
				Introduction to Computing I (ITI 1120), for most people this will be their first
				programming experience. This course uses the Java programming language to teach you
				the basic principles of software engineering. You will be learning about variable
				types, classes, conditions, parameters, methods, loops, recursion, arrays, 2d
				arrays and a small introduction to object oriented programming. This class at first
				seems simple and straightforward, however for those who have relatively no previous
				coding experience, it can prove to be quite challenging.<br><br>

				It's no lie that when learning how to code you must practice. If you don't
				understand a concept presented in class, there is no better way to clarify it for
				yourself then to jump into and IDE and play around with some code. However if your
				still having difficulty understanding a concept or completing an assignment don't
				be afraid to ask someone for help. You can ask a TA, your professor, a friend or
				even us here at SESA. I'm sure that whomever you ask, they would be glad to help.<br><br>

				Recommended learn-to-code sites:
				<%= link_to 'buckysroom.com', 'https://buckysroom.org/videos.php?cat=31', target: '_blank' %>,
				<%= link_to 'codecademy.com', 'http://www.codecademy.com/', target: '_blank' %>,
				<%= link_to 'codingbat.com', 'http://codingbat.com/', target: '_blank' %>,
			</p>
		</span>
		<span id="computing-2" class="course-advice">
			<svg role="navigation" class="hamburger3 burger" width="32" height="32" viewBox="0 0 46 30" >
		        <path fill="#777" d="M1,0h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1C0.4,6,0,5.6,0,5V1C0,0.4,0.4,0,1,0z" ></path>
		        <path fill="#777" d="M1,24h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1c-0.6,0-1-0.4-1-1v-4C0,24.4,0.4,24,1,24z" ></path>
		     </svg>
		     <strong>Introduction to Computing II</strong><br><br>
		     <p>
				Introduction to Computing II(ITI 1121) starts off where Introduction to Computing I (ITI
				1120) ended. Unlike ITI 1120, ITI 1121 uses Java as the main programming language instead of Python. No need to panic,
				Introduction to Computing II starts off with a quick introduction of Java followed by a review of object-oriented programming (OOP)
				then continues on to Abstraction principles, and finally finished off with an
				introduction to data structures such as lists, stacks, queues, binary search trees,
				and processing of data structures. ITI 1121 builds off of the principles that your
				learned in ITI 1120 and teaches your more advanced principles to further develop
				your programming knowledge.<br><br>
				Unlike ITI 1120, in Introduction to Computing II, the assignments can be done in
				teams of two. This will ease the burden of doing the assignments on your own. Since
				the assignments are designed to be done in teams, they can be quite difficult and
				time consuming. We suggest that you do not leave it to the last minute as you will
				have a hard time to complete it on time. Again if you need help with an assignment
				or understanding a concept from class, don't hesitate to ask a TA, your professor,
				a friend of even us here at SESA.
				<br><br>
				Here are some useful links to help you make the transition from Python to Java:
				<br>
				<%= link_to 'Java vs Python', 'http://javarevisited.blogspot.ca/2013/11/java-vs-python-which-programming-laungage-to-learn-first.html', target: '_blank' %>
				<br>
				<%= link_to 'A comparison of the syntax of Python and Java', 'http://math-cs.gordon.edu/courses/cps122/handouts-2014/From%20Python%20to%20Java%20Lecture/A%20Comparison%20of%20the%20Syntax%20of%20Python%20and%20Java.pdf', target: '_blank' %>

 				<br>
 				<%= link_to 'From Python to Java', 'http://home.wlu.edu/~lambertk/pythontojava/', target: '_blank' %>
 				<br>
 				<%= link_to 'Comparing Python Object-Oriented Code with Java', 'http://www.informit.com/articles/article.aspx?p=2436668', target: '_blank' %>

			 </p>
		</span>
		<span id="engineering-mechanics" class="course-advice">
			<svg role="navigation" class="hamburger3 burger" width="32" height="32" viewBox="0 0 46 30" >
		        <path fill="#777" d="M1,0h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1C0.4,6,0,5.6,0,5V1C0,0.4,0.4,0,1,0z" ></path>
		        <path fill="#777" d="M1,24h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1c-0.6,0-1-0.4-1-1v-4C0,24.4,0.4,24,1,24z" ></path>
		     </svg>
		     <strong>Engineering Mechanics</strong><br><br>
		     <p>
				Engineering mechanics requires a very technical mindset and a lot of patience as well to solve problems. One mistake in any calculation will throw the answer off completely and do not expect all professors to be lenient in giving part marks. To be fair, in the real world, that one small mistake can result in severe consequences (bridges/structures collapsing). We advise you to double or even triple check your answers before finishing midterms/exams. A solutions manual will definitely come in handy for assignments (most questions will be assigned from the textbook). A little bit of googling may even help you find some solutions online ;). Make sure to understand all questions thoroughly though. Your exams/midterms will most likely consist of a few long answer questions combining all the concepts learnt throughout the course, so make sure not to miss out on any topics.
			 </p>
		</span>
		<span id="physics" class="course-advice">
			<svg role="navigation" class="hamburger3 burger" width="32" height="32" viewBox="0 0 46 30" >
		        <path fill="#777" d="M1,0h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1C0.4,6,0,5.6,0,5V1C0,0.4,0.4,0,1,0z" ></path>
		        <path fill="#777" d="M1,24h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1c-0.6,0-1-0.4-1-1v-4C0,24.4,0.4,24,1,24z" ></path>
		     </svg>
		     <strong>Physics</strong><br><br>
		     <p>
				We highly recommend that you attend all classes for this course. Many practice problems and important examples will be discussed during lectures. From our experience, Engineering Physics is significantly harder than the type of physics learnt throughout highschool. Just memorizing examples will not fly by in this course. You will have to read up and understand the concepts and theory behind all questions. Doing well in this class will take up a significant amount of your study time so do not be afraid to consult the professor for extra help after class.
			 </p>
		</span>
		<span id="calculus-1" class="course-advice">
			<svg role="navigation" class="hamburger3 burger" width="32" height="32" viewBox="0 0 46 30" >
		        <path fill="#777" d="M1,0h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1C0.4,6,0,5.6,0,5V1C0,0.4,0.4,0,1,0z" ></path>
		        <path fill="#777" d="M1,24h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1c-0.6,0-1-0.4-1-1v-4C0,24.4,0.4,24,1,24z" ></path>
		     </svg>
		     <strong>Calculus I</strong><br><br>
		     <p>
				The best advice we can give for Calculus I is practice, practice, practice. Don’t fall behind on
				the homework questions and try to tackle extra problems if you have time. A lot of questions are going
				to be assigned so last minute crunching will not work with this course. Wolframalpha will be extra handy
				especially if you are stuck on what steps to do when integrating. The majority of your study hours will be
				spent on this course so make sure to stay organized and not fall behind in class. <br><br>
		     <strong>Calculus II</strong><br><br>
				Things become even more difficult with Calculus II. If you did bad in Calculus I, prepare yourself for
				the worst in Calculus II. If you did good in Calculus I, still expect the content to be extremely tedious and difficult.
				Once again, practice, practice, practice. You’ll be diving into new concepts such as power series,
				directional derivatives, and eulers method for differential equations. Make sure to show up to all classes
				and solve problems using the specific technique taught by the professor. Your answer may be correct
				but there’s a possibility you will lose marks for not following their method.
			 </p>
		</span>
		<span id="digital-systems" class="course-advice">
			<svg role="navigation" class="hamburger3 burger" width="32" height="32" viewBox="0 0 46 30" >
		        <path fill="#777" d="M1,0h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1C0.4,6,0,5.6,0,5V1C0,0.4,0.4,0,1,0z" ></path>
		        <path fill="#777" d="M1,24h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1c-0.6,0-1-0.4-1-1v-4C0,24.4,0.4,24,1,24z" ></path>
		     </svg>
		     <strong>Digital Systems</strong><br><br>
		     <p>
				We will admit this is one of the easier courses for the semester but that does not mean you should take it lightly. Logic functions may seem simple at first but things will become more complex as you start building sequential circuits. Expect to be stuck waiting in lab tutorials for an extended period of time. The TAs will be scarce and even if you have completed your objectives, you will spend the majority of time waiting for the TAs to come over to verify your results. A solution to this situation would be to complete the labs prior to the lab on one of the SITE computers and show the TAs when the lab starts. Very little theory is required in this course, just finish all questions and assignments assigned and you should be able to pass with a decent grade. The solutions manual will be very handy to have in the course as well.
			 </p>
		</span>
		<span id="discrete" class="course-advice">
			<svg role="navigation" class="hamburger3 burger" width="32" height="32" viewBox="0 0 46 30" >
		        <path fill="#777" d="M1,0h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1C0.4,6,0,5.6,0,5V1C0,0.4,0.4,0,1,0z" ></path>
		        <path fill="#777" d="M1,24h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1c-0.6,0-1-0.4-1-1v-4C0,24.4,0.4,24,1,24z" ></path>
		     </svg>
		     <strong>Discrete Mathematics for Computing</strong><br><br>
		     <p>
				 If you have taken discrete mathematics in highschool this course should be fairly easy for you. However, most people find discrete to be one of the more difficult first year courses. It begins simple with truth tables and propositional logic and then becomes more difficult when 'proofs' come into play. Students find 'proofs' difficult because this will be the first time for most of you to prove a mathematical statement formally - for example: prove that two odd numbers always add to an even number. The latter statement is extremely simple but chances are that if you havent taken discrete you would know how to answer that question as fast as you should. <br><br>
				<span style="color: #3c763d;"><strong>Answer:</strong> An odd number can be written as '2k + 1' where k is an arbitrary integer. Then for arbitrary integers m and n, (2m + 1) + (2n + 1) = 2(m + n + 1), which is even divisible by two and therefore even.</span>
			 </p>
		</span>
		<span id="chemistry" class="course-advice">
			<svg role="navigation" class="hamburger3 burger" width="32" height="32" viewBox="0 0 46 30" >
		        <path fill="#777" d="M1,0h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1C0.4,6,0,5.6,0,5V1C0,0.4,0.4,0,1,0z" ></path>
		        <path fill="#777" d="M1,24h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1c-0.6,0-1-0.4-1-1v-4C0,24.4,0.4,24,1,24z" ></path>
		     </svg>
		     <strong>Principles of Chemistry</strong><br><br>
		     <p>
				Principles of Chemistry (CHM 1311) Consists mostly of a review from High
				school. In CHM 1311 you will be learning about: chemical bonding, molecular
				geometry, chemical equations, matter, solutions, redox reactions, electrochemistry, kinetics and equilibrium, ionic equilibria and acids and bases. Principles of Chemistry seems to aim at being a review from high school while increasing the difficulty.
				<br><br>
				CHM 1311 consists of two parts: a lab and a lecture. Every week
				students will have a 3 hour lab along with a lab report, 3 hours of lectures
				and an assignment on the infamous Mastering Chemistry. Principles
				of Chemistry is probably the most time consuming course you will encounter in your
				first year. While the midterms/final can be quite difficult, doing good on the
				assignments, lab reports and in class participation marks can give you a much
				needed grade boost. We recommend working on the homework questions with some friends, it
				will make them much easier, less time consuming and maybe a little fun. For some
				chemistry can be quite difficult, however luckily there is a lot of help available
				if your having a hard time. Make sure to get help as soon as possible before you
				fall too far behind.
			 </p>
		</span>
		<hr>
	</div>

</div>

<div id="fya-container-4">
	<div class="row" style="max-width: 80rem;padding-bottom: 50px;">
		<span class="title">Probation Advice</span>
		<div class="medium-12 large-4 columns">
		<span class="priority">First Priority</span><br>
				Take only as many courses as you can do well on. Know when the drop deadline is and consider dropping courses unless you are sure you are going to get a reasonable grade.
				Minimum C+ for pre-req courses and electives (Math, Scinece etc.) and minimum B+ for core courses (ITI, CSI, SEG, CEG).
		</div>
		<div class="medium-12 large-4 columns">
			<span class="priority">Second Priority</span><br>
				Retake courses in which you received a D,D+,E and F. Don't bother with taking a supplemental exam unless you can get a C or higher.

		</div>
		<div class="medium-12 large-4 columns">
			<span class="priority">Third Priority</span><br>
				ITI1121 is a hard course. Make sure you do well in it. It is also offered in the summer, you do not need to take it during the winter semester.

		</div>

</div>
<span class ="extra">For more info check out Liam Peyton's <%= link_to 'Presentation for 1st year students on probation', '/files/WelcomeToProbation.pptx', target: '_blank' %>.<br><br><br></span>
	<hr>
</div>


<div id="fya-container-5">
	<div class="row" style="max-width: 80rem;padding-bottom: 50px;">
		<span class="title">Campus Safety</span>
		<span >Plase read  <%= link_to 'this article', 'https://medium.com/editprs-picks/69fe9bf8959f', target: '_blank' %> for guidlines on how to work and communicate respectfully with others.<br><br>In case of emergency on campus call 4511 for Protecton Services... they will call 911 directly if it is needed (911 does not work on campus)<br><br>Be safe at night on campus, there is a free student-run service offered on campus called <%= link_to 'Foot Patrol', 'http://sfuo.ca/footpatrol/', target: '_blank' %>. Two student volunteers will walk with you so that you don't have to walk to or from class on your own.</span>
	</div>
</div>
