<span class="fya"></span>

<div id="fya-container-1">
	<h1>first year tips</h1>
</div>

<br><br><br>

<div id="fya-container-2">
	<div class="row" style="max-width: 80rem;">
		<div class="medium-12 large-4 columns">
			<span>Budgeting</span><br><br>
				University fees can be quite expensive, especially when pursuing a degree in engineering or other software related programs. Ontop of tuition, textbooks will leave a heavy dent in your wallet as well. As members of SESA we've taken a look back at our previous years and have compiled a list of tips and methods that you can use to help reduce these fees and save some extra cash on hand (to maybe spend on that macbook pro you've had your eyes on :p ). Take it or leave it, we sure as hell wish we'd been given these pointers early on!	
				<%= link_to 'Read More...', firstyearadvice_path+'#budgeting', class: 'budgeting-button' %>
		</div>
		<div class="medium-12 large-4 columns">
			<span>Time management</span><br><br>
				University fees can be quite expensive, especially when pursuing a degree in engineering or other software related programs. Ontop of tuition, textbooks will leave a heavy dent in your wallet as well. As members of SESA we've taken a look back at our previous years and have compiled a list of tips and methods that you can use to help reduce these fees and save some extra cash on hand (to maybe spend on that macbook pro you've had your eyes on :p ). Take it or leave it, we sure as hell wish we'd been given these pointers early on!
				<%= link_to 'Read More...', firstyearadvice_path+'#budgeting', class: 'budgeting-button'  %>
		</div>
		<div class="medium-12 large-4 columns">
			<span>Goal setting</span><br><br>
				University fees can be quite expensive, especially when pursuing a degree in engineering or other software related programs. Ontop of tuition, textbooks will leave a heavy dent in your wallet as well. As members of SESA we've taken a look back at our previous years and have compiled a list of tips and methods that you can use to help reduce these fees and save some extra cash on hand (to maybe spend on that macbook pro you've had your eyes on :p ). Take it or leave it, we sure as hell wish we'd been given these pointers early on!
				<%= link_to 'Read More...', firstyearadvice_path+'#budgeting', class: 'budgeting-button' %>
		</div>

		<span id="budgeting" style="background-color: #eee; margin-bottom: 15px; padding-top: 60px;">
			<svg role="navigation" class="hamburger2" width="32" height="32" viewBox="0 0 46 30" >
		        <path fill="#aaa" d="M1,0h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1C0.4,6,0,5.6,0,5V1C0,0.4,0.4,0,1,0z" ></path>
		        <path fill="#aaa" d="M1,24h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1c-0.6,0-1-0.4-1-1v-4C0,24.4,0.4,24,1,24z" ></path>
		     </svg>
			<p>
			<strong>Opting out of medical or dental insurance plans:</strong><br><br>
			&emsp;&emsp;If you are already covered under an equivalent insurance plan, you can opt out of the health and/or dental plan. However, you must apply to opt out before September 30 of every school year. Thats over $100 you can easily save! To opt out, access your statement of account on uOzone. On the left-side menu at the very bottom click Insurance plans opt-out. Fill out the form and voila!
			</p>
			<p>
			<strong>Purchasing pre-owned textbooks:</strong><br><br>
			&emsp;&emsp;Let's face it, it may feel nice to own a brand-new fresh mint condition textbook but is the pricing really worth it? Trust us, after 2nd year hits you'll be begging your friends for their old texts or even scavenging for previous editions that are even more cheap. There are many resources in Ottawa to find great prices on pre-owned textbooks: <%= link_to 'ottawa.kijiji.ca', 'http://ottawa.kijiji.ca' %>, 
			<%= link_to 'usedottawa.ca', 'http://usedottawa.ca' %>, <%= link_to 'ottawa.craigslist.ca', 'http://ottawa.craigslist.ca' %>.<br><br>
			&emsp;&emsp;If you absolutely refuse to be an owner of used goods, try out the Agora Bookstore which is literally a 5 min walk from campus. They offer slightly cheaper prices than the school bookstore. Don't forget to get there early, the lineups can be quite lengthy. 
			Most importantly, we would like to mention that google is your friend. And that the only thing better than a cheap textbook...is a free one. Use your resources, you're in software godamit.If you have some extra cash to spend (or some extra time to spend digging around), we highly recommend purchasing solutions manuals whenever possible. We can guarantee you will most definitely run into a few classes that have assignments with questions ripped directly from the textbook. If you're looking for an easy free 20-40% boost, the investment can be worth it. Just make sure to fully understand how to solve all questions...or you'll be left clueless when exams come.<br> 
			</p>
			<p>
			<strong>Apply for OSAP if needed:</strong><br><br>
			&emsp;&emsp;Need help paying for school? The Ontario Student Assistant Program will be a lifesaver. Visit: 
			<%= link_to 'osap.gov.on.ca/OSAPPortal', 'https://osap.gov.on.ca/OSAPPortal' %> to learn more about who is eligible, the mix of grants and loans available and what information you need before you apply. If you apply for OSAP – you’re automatically considered for 30% Off Ontario Tuition, too. No need for a separate application. Get saving!!
			</p>
		</span>


	</div>
</div>

<div id="fya-container-3">

</div>