
<div class="center">

	<h1>Software Engineering Student Association </h1>

	<div class="quotes">
		<p>If you can dream it, you can do it<br>-Walt Disney</p>
	</div>

	<div class="border"></div>

	<p class="recruit-text" >
		Dear new recruits,<br>
		Our mission is to provide a support group for software engineers and to define a group
		of people who see themselves connected in an important way; individuals that are part 
		of a greater whole. SESA strives to enrich student life while offering support and resourses
		for its members while building a networking platform in order to aid students
		in landing real world experiences that can be beneficial when meeting
		future potential employers.<br><br>-Hugh, Vice President</p>

	<p style="margin-left:50px;">
	Please <big data-toggle="modal" data-target="#myModal" style="cursor: pointer; cursor: hand; 
	color:#d9534f;">CLICK HERE</big> to apply to SESA</p>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top:2%; bottom:1%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">SESA FORM</h4>
      </div>
      <div class="modal-body" style="max-height:100%; height: auto;">
        
<div class="form">

<% if @success %>
	Thank you for joining the SESA!
<% else %>
		<p>

			<%= form_tag do %>

			<div class="field">
				<%= label_tag :first_name, "First Name" %>
				<%= text_field_tag :first_name %><br>
			</div>

			<div class="field">
				<%= label_tag :last_name, "Last Name" %>
				<%= text_field_tag :last_name %><br>
			</div>

			<div class="field">
				<%= label_tag :email, "E-mail Address" %>
				<%= text_field_tag :email %><br>
			</div>

			<div class="field">
				<%= label_tag :major, "Major or Specialization" %>
				<%= text_field_tag :major %><br>
			</div>


			<div class="field">
				<%= label_tag :commitment, "Level of commitment(#hours/weeks)" %>
				<%= text_area_tag :commitment %><br>
			</div>


			<div class="field">
				<%= label_tag :why_join, "Why would you want to be a part of SESA" %>
				<%= text_area_tag :why_join %><br>
			</div>


			<div class="field">
				<%= label_tag :goal, "What goals would you like to achieve while working with SESA" %>
				<%= text_area_tag :goal %><br>
			</div>

			<div class="field" style="text-align: center;">
				<%= submit_tag "Join the SESA"%>
			</div>

			<% end %>
		</p>
		<% end %>
</div>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
		<div class="border"></div>

		<div class="home-page-img">
			<%= image_tag "club.png", size: "700x900", alt: "The Abyss"%>
		</div>

		<div class="border"></div>

		<p class="recruit-text">
			“If you listen real close, you can hear them whisper their legacy to you. Go on, lean in. Listen, you hear it? - Carpe - hear it? – Carpe, Carpe Diem, seize the day boys, make your lives extraordinary.” 
			<br>-N.H. Kleinbaum, Dead Poets Society
		</p>


	</div>

</div>