

<div id="home-page">
<div id="home-container-1">
	
	<%= image_tag "Association_Logo.png", size: "300x300",class: "sesa-logo", alt: "SESA Logo"%>
	<div id="motto-1">MAKE THE OPPORTUNITIES</div>
	<div id="motto-2">FIND YOUR PEOPLE</div>
	<div id="motto-3">HUSTLE > ROLE DEFINITION</div>

	
</div>

<div id="home-container-2">
	<%= image_tag "blk-white-bk-remake.jpg", size: "800x600", alt: "Famous breakfast photo rendition"%>

	<p>Our mission is to provide a support group for software engineers and to define a group of people who see
	themselves connected in an important way; individuals that are part of a greater whole. SESA strives to enrich 
	student life while offering support and resourses for its members while building a networking platform in 
	order to aid students in landing real world experiences that can be beneficial when meeting future potential 
	employers. </p>

</div>

<div id="home-container-3">
	<div id="feature-container">
		<div id="inner-feature-container-1">

			<%= image_tag "exam_icon.jpg", size: "270x270", alt: "Exam archive display photo"%>
			<div id="outer-text-container">
				<div class="text-1">
					EXAM ARCHIVE
				</div>
				<div class="hovering-text-1">
					TRY HARD
				</div>
			</div>
		</div>
		<div id="inner-feature-container-2">
			<%= image_tag "group_gathering.jpg", size: "270x270", alt: "First year tips display photo"%>
			<div id="outer-text-container">
				<div class="text-2">
				FIRST YEAR TIPS
				</div>
				<div class="hovering-text-2">
					DO YOU
				</div>
			</div>
		</div>
		<div id="inner-feature-container-3">
			<span><%= link_to "", meet_path %></span>
			<%= image_tag "hugh_exec_icon.jpg", size: "270x270", alt: "Executive members display photo"%>
			<div id="outer-text-container">
				<div class="text-3">
				EXEC MEMBERS
				</div>
				<div class="hovering-text-3">
					FIND YOURSELF
				</div>
			</div>
		</div>
	</div>
</div>



<!--

	 <big data-toggle="modal" data-target="#myModal">JOIN SESA!</big>

	<%= render 'modal' %>

-->
</div>