<% provide(:title, "SESA | Software Engineering Student Association")%>

<div id="home-container-1">
  <%= image_tag "white-sesa-logo.png", class: "main-logo" %>
  <hr>
  <div class="subtitle" >Software Engineering Student Association</div>
</div>

<div id="home-container-2">
  Make the opportunities <br><br>
  Find your people <br><br>
  Hustle > Role Definition
</div>

<div id="home-container-3">
  <div class="title"> Our Mission </div>
  <hr>
  <p>Our mission is to provide a support group for software engineers and to define a group
  of people who see themselves connected in an important way. SESA strives to enrich student
  life while building a networking platform in order to aid students in landing real world experiences.</p>
  <br>
  <%= link_to 'Join', join_path+".form" %>
</div>

<div id="home-container-4">
  <h1>Awesome Team of Execs<br><small>"The A-team" for short</small></h1><br><br>
  <div class="row">
    <div class="small-12 medium-3 columns">
      <%= image_tag 'current_members/alex.jpg', size: '200x200', alt: 'Alex Kluew' %><br><br>
      <a href="http://getaclue.me/"><span>Alex<br>Kluew</span></a><br><hr>President
    </div>
    <div class="small-12 medium-3 columns">
      <%= image_tag 'current_members/arsani.png', size: '200x200', alt: 'Arsani Guirguis' %><br><br>
      <span>Arsani<br>Guirguis</span><br><hr>Vice President
    </div>
    <div class="small-12 medium-3 columns">
      <%= image_tag 'current_members/menelik.jpg', size: '200x200', alt: 'Menelik  Tucker' %><br><br>
      <a href="http://meneliktucker.me/"><span>Menelik<br>Tucker</span></a><br><hr>VP Finance
    </div>
    <div class="small-12 medium-3 columns">
      <%= image_tag 'current_members/arash.jpg', size: '200x200', alt: 'Arash Marzi' %><br><br>
      <span>Arash<br>Marzi</span><br><hr>Founder
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-3 columns">
      <%= image_tag 'current_members/lucia.png', size: '200x200', alt: 'Lucia Okeh' %><br><br>
      <span>Lucia<br>Okeh</span><br><hr>VP Media Relation
    </div> 
    <div class="small-12 medium-3 columns">
      <%= image_tag 'current_members/kyle.png', size: '200x200', alt: 'Kyle Kung' %><br><br>
      <span>Kyle<br>Kung</span></a><br><hr>VP Academic
    </div>
    <div class="small-12 medium-3 columns">
      <%= image_tag 'default-male-photo.png', size: '200x200', alt: 'Nick Dubus' %><br><br>
      <span>Nick<br>Dubus</span><br><hr>VP Marketing
    </div>
    <div class="small-12 medium-3 columns">
      <%= image_tag 'current_members/jonathon.jpg', size: '200x200', alt: 'Jonathon Guillotte-Blouin' %><br><br>
      <span>Jonathan<br>Guillotte-Blouin</span><br><hr>VP Social &amp; Communication
    </div>
  </div>
  <br><br>
  <h1>Directors</h1><br><br>
  <div class="row">
    <div class="small-12 medium-4 columns">
      <%= image_tag 'current_members/craig.jpg', size: '200x200', alt: 'Craig Bryan' %><br><br>
      <a href="http://www.craigbryan.me/"><span>Craig<br>Bryan</span></a><br><hr>Director of IT
    </div>
    <div class="small-12 medium-4 columns">
      <%= image_tag 'current_members/nel.png', size: '200x200', alt: 'Nel Opolski' %><br><br>
      <span>Nel<br>Opolski</span><br><hr>Director of IT
    </div>
    <div class="small-12 medium-4 columns">
      <%= image_tag 'current_members/elad.jpg', size: '200x200', alt: 'Elad Tzemach' %><br><br>
      <span>Elad<br>Tzemach</span><br><hr>Director of Events
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-3 columns">
      <%= image_tag 'current_members/leila.jpg', size: '200x200', alt: 'Leila Compoare' %><br><br>
      <span>Leila<br>Compaore</span><br><hr>Director of Finance
    </div>
    <div class="small-12 medium-3 columns">
      <%= image_tag 'current_members/nick_petryna.png', size: '200x200', alt: 'Nick Petryna' %><br><br>
      <span>Nick<br>Petryna</span><br><hr>Academic Director
    </div>
    <div class="small-12 medium-3 columns">
      <%= image_tag 'current_members/esther.png', size: '200x200', alt: 'Esther Raji' %><br><br>
      <span>Esther<br>Raji</span><br><hr>Creative Director
    </div>
    <div class="small-12 medium-3 columns">
      <%= image_tag 'default-male-photo.png', size: '200x200', alt: 'Philippe Legault' %><br><br>
      <span>Philippe<br>Legault</span><br><hr>Director of Design
    </div>
  </div>
  <br><br>
  <h1>Board Of Advisors</h1><br><br>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= image_tag 'current_members/hugh.jpg', size: '200x200', alt: 'Hugh Nguyen' %><br><br>
      <span>Hugh<br>Nguyen</span> <br><hr> Advisor
    </div>
    <div class="small-12 medium-6 columns">
      <%= image_tag 'current_members/ryan.jpg', size: '200x200', alt: 'Ryan O\'Connor' %><br><br>
      <a href="http://oconnorryan.me/"><span>Ryan<br>O'Connor</span></a><br><hr>Advisor
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-4 columns">
      <%= image_tag 'current_members/zaid.jpg', size: '200x200', alt: 'Zaid Qureshi' %><br><br>
      <span>Zaid<br>Qureshi</span><br><hr>Advisor
    </div>
    <div class="small-12 medium-4 columns">
      <%= image_tag 'current_members/tom.jpg', size: '200x200', alt: 'Thomas Duong' %><br><br>
      <span>Tom<br>Duong</span> <br><hr> Advisor
    </div>
    <div class="small-12 medium-4 columns">
      <%= image_tag 'current_members/kat.jpg', size: '200x200', alt: 'Kat Drobnjakovic' %><br><br>
      <a href="http://katarina.rocks/"><span>Kat<br>Drobnjakovic</span></a><br><hr>Advisor
    </div>
  </div>
</div>

<div id="home-container-5">
  <div class="row">
    <%= link_to firstyearadvice_path, class: "small-12 large-6 columns" do %>
      <%= image_tag "books_v1.jpg" %>
      <div class="text-container">
        <h1>First Year Tips</h1>
        <hr width='80%'>
        <p>The first year is by far the hardest. Here are some tips to succeed.</p><br>
      </div>
    <% end %>
    <%= link_to events_path, class: "small-12 large-6 columns" do %>
      <%= image_tag "openwater.jpg" %>
      <div class="text-container">
        <h1>Events</h1>
        <hr width='80%'>
        <p>Upcoming events for the new school year!</p><br>
      </div>
    <% end %>
  </div>
</div>
