<% provide(:title, "SESA | Software Engineering Student Association")%>
    <div id="home-container-1">
        <%= image_tag "white-sesa-logo.png", class: "main-logo" %>
            <hr>
            <div class="subtitle">Software Engineering Student Association</div>
    </div>
    <div id="home-container-2">
        Make the opportunities
        <br>
        <br> Find your people
        <br>
        <br> Hustle > Role Definition
    </div>
    <div id="home-container-3">
        <div class="title"> Our Mission </div>
        <hr>
        <p>Our mission is to provide a support group for software engineers and to define a group of people who see themselves connected in an important way. SESA strives to enrich student life while building a networking platform in order to aid students in landing real world experiences.</p>
        <br>
        <%= link_to 'Join', join_path+".form" %>
    </div>
    <div id="home-container-4">
        <%= render "current_members", collection: @current_members %>
            <br>
            <br>
        <%= render "bod_members" %>
    </div>
    <div id="home-container-5">
        <div class="row">
          <%= link_to firstyearadvice_path, class: "small-12 large-6 columns" do %>
            <%= image_tag "books_v1.jpg" %>
              <div class="text-container">
                  <h1>First Year Tips</h1>
                  <hr width='80%'>
                  <p>The first year is by far the hardest. Here are some tips to succeed.</p>
                  <br>
              </div>
            <% end %>
          <%= link_to events_path, class: "small-12 large-6 columns" do %>
            <%= image_tag "openwater.jpg" %>
              <div class="text-container">
                  <h1>Events</h1>
                  <hr width='80%'>
                  <p>Upcoming events for the new school year!</p>
                  <br>
              </div>
            <% end %>
        </div>
    </div>
