<% provide(:title, 'Meet The Team') %>

<div class="quotes">
<p>See the world. Meet new people. Find yourself. Have a story worth telling</p>
</div>

<div  class="border"></div>

<!-- Arash's container -->
<div class="people-container">
	<div class="people-container-pic">
		<%= image_tag "arash.png", size: "400x400", alt: "Arash"%>
	</div>
	<div class="people-container-text">
		<h2 class="heading">President<br>
			<span class="inner-text">
				Arash Marzi.
			</span>
			<span class="outter-text">
				#ForeverSESA
			</span>
		</h2>
	</div>
</div>

<div class="meet-border"></div>

<!-- Hugh's container -->
<div class="people-container">
	<div class="people-container-text">
		<h2 class="heading">Vice President<br>
			<span class="inner-text">
				Hugh Nguyen.
			</span>
			<span class="outter-text">
				#DoYou
			</span>
		</h2>
	</div>
	<div class="people-container-pic">
		<%= image_tag "hugh.png", size: "400x400", alt: "Hugh"%>
	</div>
</div>

<div class="meet-border"></div>

<!-- Kats container -->
<div class="people-container">
	<div class="people-container-pic">
		<%= image_tag "kat.png", size: "400x400", alt: "Kat"%>
	</div>
	<div class="people-container-text">
		<h2 class="heading">VP Social and Communication<br>
			<span class="inner-text">
				Kat Drobnjakovic.
			</span>
			<span class="outter-text">
				#GirlPower
			</span>
		</h2>
	</div>
</div>

<div class="meet-border"></div>

<!--Meneliks container-->
<div class="people-container">
	<div class="people-container-text">
		<h2 class="heading">VP Website <br>
			<span class="inner-text">
				Menelik Tucker.
			</span>
			<span class="outter-text">
				#SquareOrNah?
				<small>#Nah</small>
			</span>
		</h2>
	</div>
	<div class="people-container-pic">
		<%= image_tag "menelik.png", size: "400x400", alt: "Menelik"%>
	</div>
</div>

<div class="meet-border"></div>

<!--Tunchs container-->
<div class="people-container">
	<div class="people-container-pic">
		<%= image_tag "tunch.png", size: "400x400", alt: "Tunch"%>
	</div>
	<div class="people-container-text">
		<h2 class="heading">VP Finance<br>
			<span class="inner-text">
				Tunch Akkaya.
			</span>
			<span class="outter-text">
				#StayBreezy
			</span>
		</h2>
	</div>
</div>

<div class="meet-border"></div>

<!--Ryans container-->
<div class="people-container">
	<div class="people-container-text">
		<h2 class="heading">VP Academic Affairs <br>
			<span class="inner-text">
				Ryan O'Connor.
			</span>
			<span class="outter-text">
				#Ubuntu
			</span>
		</h2>
	</div>
	<div class="people-container-pic">
		<%= image_tag "ryan.png", size: "400x400", alt: "Ryan"%>
	</div>
</div>

<div class="meet-border"></div>

<!--Zacks container-->
<div class="people-container">
	<div class="people-container-pic">
		<%= image_tag "zack.png", size: "400x400", alt: "Zack"%>
	</div>
	<div class="people-container-text">
		<h2 class="heading">VP Media and Merchandise<br>
			<span class="inner-text">
				Zack Laneville.
			</span>
			<span class="outter-text">
				#AppleFanBoy
			</span>
		</h2>
	</div>
</div>
