<% provide(:title, 'Meet The Team') %>

<div id="meet-container">

	<div id="meet-opening-text">
		EXECUTIVE MEMBERS
	</div>
	<div id="hugh-container">
		<%= image_tag "hugh.png", class: "hugh-photo", alt: "Hugh Nguyen"%>
	</div>
	<div id="kat-container">
		<%= image_tag "kat.png", class: "kat-photo", alt: "Kat Drobnjakovic"%>
	</div>
	<div id="menelik-container">
		<%= image_tag "menelik.png", class: "menelik-photo", alt: "Menelik Tucker"%>
	</div>
	<div id="tunch-container">
		<%= image_tag "tunch.png", class: "tunch-photo", alt: "Tunch Akkaya"%>
	</div>
	<div id="ryan-container">
		<%= image_tag "ryan.png", class: "ryan-photo", alt: "Ryan O'Connor"%>
	</div>
	<div id="zack-container">
		<%= image_tag "zack.png", class: "zack-photo", alt: "Zack Laneville"%>
	</div>
</div>
