<% provide(:title, 'Executive Members') %>

<div id="meet-container">

	<div id="meet-opening-text">
		EXECUTIVE MEMBERS
	</div>
	<div id="hugh-container">
		<%= image_tag "hugh.jpg", class: "hugh-photo", alt: "Hugh Nguyen"%>
		<div class="hugh-photo-desc">
			
		</div>
		<div class="hugh-desc">
			<p>My name is Hugh Nguyen. The president of the coolest, hippest and awesomess
			association to ever exist.</p>
		</div>
	</div>
	<div id="kat-container">
		<div class="kat-photo" data-0="right: -900px" data-250 = "right: 0px">
		<%= image_tag "kat.jpg", alt: "Kat Drobnjakovic"%>
		</div>
		<div class="kat-photo-desc">

		</div>
		<div class="kat-desc" data-0="margin-left: -450px" data-250 = "margin-left: 100px">
			<p>My name is Kat Drobnjakovic. The vice president of the coolest, hippest and awesomess
			association to ever exist.</p>
		</div>
	</div>
	<div id="menelik-container">
		<div class="menelik-photo" data-250="left: -900px" data-850 = "left: 0px">
		<%= image_tag "menelik.jpg", alt: "Menelik Tucker"%>
		</div>
		<div class="menelik-photo-desc">
			
		</div>
		<div class="menelik-desc" data-250="margin-right: -450px" data-850 = "margin-right: 100px">
			<p>My name is Menelik Tucker. The VP Social and Communication of the coolest, hippest and awesomess
			association to ever exist.</p>
		</div>
	</div>
	<div id="tunch-container">
		<div class="tunch-photo" data-850="right: -900px" data-1350 = "right: 0px">
		<%= image_tag "tunch.jpg", alt: "Tunch Akkaya"%>
		</div>
		<div class="tunch-photo-desc">
			
		</div>
		<div class="tunch-desc" data-850="margin-left: -450px" data-1350 = "margin-left: 100px">
			<p>My name is Tunch Akkaya. The VP Finance of the coolest, hippest and awesomess
			association to ever exist.</p>
		</div>
	</div>
	<div id="ryan-container">
		<div class="ryan-photo" data-1350="left: -900px" data-1850 = "left: 0px">
		<%= image_tag "ryan.jpg", alt: "Ryan O'Connor"%>
		</div>
		<div class="ryan-photo-desc">
			
		</div>
		<div class="ryan-desc" data-1350="margin-right: -450px" data-1850 = "margin-right: 100px">
			<p>My name is Ryan O'Connor. The VP Academic Affairs of the coolest, hippest and awesomess
			association to ever exist.</p>
		</div>
	</div>
	<div id="zack-container">
		<div class="zack-photo" data-1850="right: -900px" data-2350 = "right: 0px">
		<%= image_tag "zack.jpg", alt: "Zack Laneville"%>
		</div>
		<div class="zack-photo-desc">
			
		</div>
		<div class="zack-desc" data-1850="margin-left: -450px" data-2350 = "margin-left: 100px">
			<p>My name is Zach Laneville. The VP Media and Merchandise of the coolest, hippest and awesomess
			association to ever exist.</p>
		</div>
	</div>
</div>
