
<table style="padding-top: 80px;">
	<tr style="font-weight: bold;">
		<td>First Name</td>
		<td>Last Name</td>
		<td>Email</td>
		<td>Major</td>
		<td>Commitment</td>
		<td>Why Join</td>
		<td>Goal</td>

	</tr>
	<% @club_members.each do |club_member| %>

	<tr>
		<td style="overflow-wrap: break-word"><%= club_member.first_name %></td>
		<td style="overflow-wrap: break-word"><%= club_member.last_name %></td>
		<td style="overflow-wrap: break-word"><%= club_member.email %></td>
		<td style="overflow-wrap: break-word"><%= club_member.major %></td>
		<td style="overflow-wrap: break-word"><%= club_member.commitment %></td>
		<td style="overflow-wrap: break-word"><%= club_member.why_join %></td>
		<td style="overflow-wrap: break-word"><%= club_member.goal %></td>
	</tr>
	<% end %>
</table>