  	<div class="space"></div>


<h2 class="user" >Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


 	<div class="form">
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>
    
      <div><%= f.submit "Sign up" %></div>
    <% end %>

  </div>
<div class="form">
<%= render "devise/shared/links" %>
</div>