<div style="padding-top: 100px;">
	
	<%= form_for @exam_archive, url: { action: "create"}, html: { multipart: true} do |f| %>

	<%= f.label :course_name, "Course Name" %>
	<%= f.select :course_name, matrix_of_courses %><br>

	<%= f.label :exam_year, "Year" %>
	<%= f.select :exam_year , 2006..2025 %><br>

	<%= f.label :season, "Season" %>
	<%= f.select :season, matrix_of_seasons %><br>

	<%= f.label :exam, "Upload Exam" %>
	<%= f.file_field :exam %><br>

	<%= f.submit "Save"%>

	<% end %>
	
</div>