<span class="job-board"></span>

<div id="job-board-container-1">
  <h1>Job Board</h1>
</div>
 <div id="job-board-container-2">
<!-- search bar -->
<%if current_user.try(:admin?)%>
  <%= button_to "New Job", new_job_path, :method => :get, :html => { :class => "btn btn-info"} %>
<%end%>
 </div>
<div id="job-board-container-3">
  <table>
    <tr>
      <th>Position</th>
      <th>Company</th>
      <th>Location</th>
      <th>Type</th>
    </tr>
   
    <% @job.each do |j| %>
      <tr>
        <td><%= link_to j.position, job_path(j)%></td>
        <td><%= j.company %></td>
        <td><%= j.location %></td>
        <td><%= j.job_type %></td>
      </tr>
    <% end %>
  </table>
</div>