<div class="event-post">


		<%= event_post.title %>	
	</div>
	<div class="title">

	<div class="sign">
		<p><%= event_post.created_at.try(:strftime, "%B %d, %Y") %> <%= has_signature(event_post.signature) %></p>
	</div>

	<div class="body">
		<%= markdown event_post.body %>
	</div>
	<!-- <%= raw event_post.body %> Not the best way to implement <html> tags in textareas, 
			easily hackable
	-->
	<% if admin? %>
		<div class="actions">
			<br><%= link_to "Edit", 
		        edit_event_post_path(event_post) %>
		        |
			<%= link_to "Delete", 
			            event_post, 
			            method: :delete,
			            confirm: "Are you sure you want to delete the event post?" %>	
		</div>

	<% end %>

</div>