<div class="event-post">


	<div class="title">
		<%= event_post.title %>	
	</div>

	<div class="body">
		<%= event_post.body %>
	</div>

	<div class="sign">
		<%= event_post.signature %>
	</div>

	<% if admin? %>
		<div class="actions">
			<br><%= link_to "edit", 
		        edit_event_post_path(event_post) %>
			<%= link_to "destroy", 
			            event_post, 
			            method: :delete,
			            confirm: "Are you sure you want to delete the event post?" %>	
		</div>

	<% end %>

</div>