<%= form_for(@event_post) do |f| %>

  <% if @event_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_post.errors.count, "error") %> prohibited this event_post from being saved:</h2>

      <ul>
      <% @event_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.label :signature %><br>
    <%= f.text_field :signature %>
  </div>
  <div>
    <%= f.submit %>
  </div>

  <% end %>