<%= form_for(@event_post) do |f| %>

  <% if @event_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_post.errors.count, "error") %> prohibited this event_post from being saved:</h2>

      <ul>
      <% @event_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="space"></div>
  <div class="form">
    <%= f.label :title %>
    <%= f.text_field :title, :cols => "75" %>
  </div>
  <div  class="form">
    <%= f.label :body %>
    <%= f.text_area :body, :style => "width:500px;", rows: 13  %>
  </div>
  <div class="form">
    <%= f.label :signature %>
    <%= f.text_field :signature %>
  </div>
  <div class="form">
    <%= f.submit %>
  </div>

  <% end %>