<%= form_for(@event_post) do |f| %>
  
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>
  
  <div>
    <%= f.label :signature %><br>
    <%= f.text_field :signature %>
  </div>
  
  <div>
    <%= f.submit %>
  </div>

<% end %>
