<h1><%= @event_post.title %></h1>

<p>
	Body: <%= @event_post.body %>
</p>

<p>
	ID: <%= @event_post.id %>
</p>

<p>
	Signature: <%= @event_post.signature %>
</p>

<p>
	Updated: <%= @event_post.updated_at %>
</p>

<p>
	Created: <%= @event_post.created_at %>
</p>

<% if admin? %>
	<%= link_to "Edit News Post with ID: #{@event_post.id}", 
	            edit_event_post_path %>
<% end %>

<%= link_to "Back to all news", event_posts_path %>