<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event_post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @event_post.body %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @event_post.signature %>
</p>

<%= link_to 'Edit', edit_event_post_path(@event_post) %> |
<%= link_to 'Back', event_posts_path %>
