<div class="modal hide" id="contact_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top:2%; bottom:1%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">CONTACT FORM</h4>
      </div>
      <div class="modal-body" style="max-height:100%; height: auto;">

<div class="form">
<% if @success_contact %>
	<p style="text-align:center;"> Thank you for contacting the SESA! </p>
<% else %>
<p>

	<%= form_tag "/" do %>

	<div class="field">
		<%= label_tag :first_name, "First Name" %>
		<%= text_field_tag :first_name %><br>
	</div>

	<div class="field">
		<%= label_tag :last_name, "Last Name" %>
		<%= text_field_tag :last_name %><br>
	</div>

	<div class="field">
		<%= label_tag :email, "E-mail" %>
		<%= text_field_tag :email %><br>
	</div>

	<div class="field">
		<%= label_tag :message %>
		<%= text_area_tag :message %><br>
	</div>

	<div class="field">
		<%= submit_tag "Submit" %>
	</div>

	<% end %>
</p>
<% end %>
</div>


      </div>
    </div>
  </div>
</div>