<footer>
  <div class="row">
    <div class="proud small-12 medium-12 large-2 columns">
      <div class="row">
          © SESA 2014-<%= Time.now.year %> | <a href="https://goo.gl/1X5PiF" target='_blank' id="outside-link">Github</a>
      </div>
    </div>

    <div class="links small-12 medium-12 large-8 columns">
      <div class="row">
        <div class="columns small-12 medium-12 large-3">
          <%= link_to "Contact Us", contact_path %>
        </div>
        <div class="columns small-12 medium-12 large-3">
          <%= link_to "Alumni", alumni_path %>
        </div>
        <div class="columns small-12 medium-12 large-3">
          <%= link_to "Join SESA", join_path %>
        </div>
        <div class="columns small-12 medium-12 large-3">
          <%= link_to "Code of Conduct", code_of_conduct_path %>
        </div>
      </div>
    </div>
    <div class="social-media small-12 medium-12 large-2 columns">
       <div class="row">
         <div class="columns small-4">
           <%= link_to fa_icon("facebook"), "https://goo.gl/dxDTdx", target: '_blank' %>
         </div>
         <div class="columns small-4">
           <%= link_to fa_icon("twitter"), "https://goo.gl/hqXZ68", target: '_blank' %>
         </div>
         <div class="columns small-4">
           <%= link_to fa_icon("instagram"), "https://goo.gl/FHrd7a", target: '_blank' %>
         </div>
       </div>
     </div>
  </div>
</footer>
