
    <div class="menu">  
      <%= image_tag "menu.png", class: "menu-icon", alt: "menu icon"%>
    </div>
    <div class="menu-box">
      
        <%= link_to "HOME",   root_path, class: "menu-link" %>
        <%= link_to "FIRST YEAR TIPS",   '#' , class: "menu-link" %>
        <%= link_to "EXEC MEMBERS",   meet_path, class: "menu-link" %>
        <%= link_to "EXAM ARCHIVE",   '#' , class: "menu-link" %>
          <%= link_to(image_tag("Twitter_bird_icon.png", size:"40x40"), "https://twitter.com/uOttawaSESA", class: "social-media-icon")%>
          <%= link_to(image_tag("facebook-icon.png", size:"40x40"), "https://t.co/PuWQ8jANwD", 
            class: "social-media-icon")%>
      
    </div>
    <div class="close-menu-box">
      <small>CLOSE</small> 
    </div>