<header role="navigation">
  <div class="row header-row">
    <div class="medium-12 large-2 columns">
      <%= link_to root_path do %>
        <span>SESA</span>
      <% end %>
    </div>
     <div class="medium-12 large-2 columns">
      <%= link_to root_path+'#home-container-3' do %>
        <span>Our Mission</span>
      <% end %>
    </div>

    <div class="medium-12 large-2 columns">
      <a data-toggle="resources-dropdown" class="dropdown">Resources</a>
      <div class="dropdown-pane" id="resources-dropdown" data-dropdown data-auto-focus="true">
          <%= link_to advice_firstyear_path do %>
            <span>First Year Tips</span>
          <% end %>
          <%= link_to advice_courses_path do %>
            <span>Course Advice</span>
          <% end %>
      </div>
    </div>

    <div class="medium-12 large-2 columns">
      <%= link_to events_path do %>
        <span>Events</span>
      <% end %>
    </div>
     <div class="medium-12 large-2 columns">
      <%= link_to "https://goo.gl/mNuM7W" do %>
        <span>Newsletter</span>
      <% end %>
    </div>
     <% if user_signed_in? %>
         <div class="medium-12 large-2 columns">
          <%= link_to destroy_user_session_path, data: {method: :delete} do %>
          <span>Sign Out</span>
          <% end %>
        </div>
    <% end %>
    <% if !user_signed_in? %>
    <div class="medium-12 large-2 columns">
        <div class="row no-margin">
          <div class="columns large-4">
            <%= link_to fa_icon("facebook"), "https://goo.gl/dxDTdx", target: '_blank' %>
          </div>
          <div class="columns large-4">
            <%= link_to fa_icon("twitter"), "https://goo.gl/hqXZ68", target: '_blank' %>
          </div>
          <div class="columns large-4">
            <%= link_to fa_icon("instagram"), "https://goo.gl/FHrd7a", target: '_blank' %>
          </div>
        </div>
    </div>
    <%end %>
  </div>
</header>

<svg role="navigation" class="hamburger" width="32" height="32" viewBox="0 0 46 30" >
  <path fill="#aaa" d="M1,0h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1C0.4,6,0,5.6,0,5V1C0,0.4,0.4,0,1,0z" ></path>
  <path fill="#aaa" d="M1,12h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1c-0.6,0-1-0.4-1-1v-4C0,12.4,0.4,12,1,12z"></path>
  <path fill="#aaa" d="M1,24h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1c-0.6,0-1-0.4-1-1v-4C0,24.4,0.4,24,1,24z" ></path>
</svg>
