<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "SESA", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",   root_path %></li>
          <li><%= link_to "Events",   events_path %></li>
          <li><%= link_to "Meet The Team",   meet_path %></li>
          <li><%= link_to "Contact",   contact_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>