
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= image_tag "Association_Logo.png", size: "40x40", alt: "SESA Logo", id: "logo"%>
      <%= link_to "SESA", root_path, id: "sesa" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",   root_path %></li>
          <li><%= link_to "Events",   event_posts_path %></li>
          <li><%= link_to "Meet The Team",   meet_path %></li>
          <li><%= link_to "Contact",   contact_path %></li>
          <% unless user_signed_in? %> <!--unless is equal to if not-->
               <li><%= link_to "Sign In", new_user_session_path%></li>
           <% else %>
               <li><%= link_to "Sign Out", destroy_user_session_path, 
                    method: :delete %></li>
                 <li><%= "Signed is as #{current_user.email}"%></li>
          <%end%>
        </ul>
      </nav>
    </div>
  </div>
</header>