<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <%= favicon_link_tag 'sesa.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= yield(:title) %></title>
    <meta name="description" content="Our mission is to provide a support group for software engineers and to define a group
    of people who see themselves connected in an important way. SESA strives to enrich student
    life while building a networking platform in order to aid students in landing real world experiences.">
    <meta name="keywords" content="SESA,uOttawa,Software Student Engineering Association,Club,Society,Events,First Year Advice,Join, University of Ottawa">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57795329-1', 'auto');
      ga('send', 'pageview');
    </script>

    <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="main-container">
      
      <% if flash[:notice] %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if flash[:alert] %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>

    <%= render 'layouts/footer'%>
  </body>

</html>
